---
title: Index page
headingTitle: Lookup results & payments
footerBack: true
footerCancel: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% set customerInfo = [
		{ label: 'Customer Name', value: '' },
		{ label: 'Account Number', value: '534182937' },
		{ label: 'Phone Number', value: '1234567890' },
		{ label: 'Current Balance', value: '10.00' },
		{ label: 'Is Eligible For Promo', value: 'false' },
		{ label: 'Provider Id', value: '10102' },
		{ label: 'Provider Name', value: 'MyStar123 Gold' },
		{ label: '<a href="#">Plan Details</a>', value: '' }
	] %}

	{% set paymentInformation = {
		fields: [
			{
				classList: 'form-group_table',
				label: 'MyStar123 Gold Payment&nbsp;-&nbsp;Reload&nbsp;$',
				id: 'payment-reload',
				input: true,
				inputAttrs: 'value="0.00"',
				inputClassList: 'is-error',
				errorMessage: '* Maximum value is 100'
			},
			{
				classList: 'form-group_table',
				label: 'Fee Amount $',
				id: 'fee-amount',
				input: true,
				inputAttrs: 'value="0.00" disabled'
			}
		],
		link: 'Check upgrade eligibility'
	} %}
	
	<div class="inner">
		{% include 'partials/providerChooser/_heading.html' %}
		<div class="section">
			<div class="row row_flex">
				<div class="col col_50">
					<div class="sm-info col_in">
						<div class="sm-info__title">Customer inforamtion</div>
						<div class="sm-info__box">
							<ul class="details">
								{% for item in customerInfo %}
									<li class="details__item">
										<div class="details__label">{{item.label | safe}}</div>
										<div class="details__value">{{item.value | safe}}</div>
									</li>
								{% endfor %}
							</ul>
							<div class="sm-info__link sm-info__link_gap">
								<a href="#">Update Account</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col col_50">
					<div class="sm-info col_in">
						<div class="sm-info__title">Payment information</div>
						<div class="sm-info__box">
							{% for item in paymentInformation.fields %}
								{{mixins.group(item)}}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}