.form-group
	&:not(:last-child)
		margin-bottom: 20px
	&_inline,
	&_table
		display: flex
		align-items: center
		.form-group
			&__label 
				padding-right: 15px
			&__field
				flex-grow: 1
				min-width: 0
	&_inlune
		.form-group
			&__field
				width: 100%
	&_table
		.form-group
			&__label 
				flex-grow: 1
				width: 30%
			&__field
				width: 60%
	&__label
		padding: 10px 0
