.sm-info
	display: flex
	flex-direction: column
	&__title
		padding-bottom: 15px
		+f(20px, 500, 1.3)
	&__box
		flex-grow: 1
		overflow: auto
		padding: 40px 30px
		max-height: 100%
		background: rgba($darkGray, 0.07)
	&__center
		margin: 0 auto
		max-width: 600px
	&__footer
		padding-top: 20px
	&__link_gap
		padding-top: 20px
	&__container
		padding: 10px
		border: 1px solid #b3b3b3
		&:not(:last-child)
			margin-bottom: 10px