.icon-attention {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-down {
  width: 1.62em;
  height: 1em;
  fill: initial;
}
.icon-left {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-right {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
