<div class="row row_flex">
	<div class="col col_40">
		<div class="box col_in">
			{% for item in providerTypes %}
				<div class="box__type">
					{{mixins.radio(item)}}
				</div>
			{% endfor %}
		</div>
	</div>
	{% if providerFields %}
		<div class="col col_60">
			<div class="box col_in">
				{% for item in providerFields %}
					{{mixins.group(item)}}
				{% endfor %}
				{% if providerCreateAccount %}
					{% for item in providerCreateAccount.types %}
						<div class="box__type">
							{{mixins.radio(item)}}
						</div>
					{% endfor %}
					<div class="box__btn">
						<button class="btn" data-animation="ripple">Creact Account</button>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
</div>